body{
	margin:0;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pic{
	margin:10px;
}
.pic img{
	width: 500px;

}

#title{
	font-size:25px;
	width:350px;
	height:65px;
	border-bottom: 2px black solid;
	margin-bottom: 5%;
	padding-left: 2%;
	margin-left: 2%;
}